#search-box{
	height:30px;
	display:table;margin:78px auto 0;
}
#search-box input{
	border:1px solid rgb(197,197,197);
	height:28px;line-height:28px;margin:2px;
}
#search-box input[type="text"]{
	border-radius:2px;padding-left:7px;
}
#search-box input[type="button"]{
	background:rgb(251,76,15);
	color:#fff;
	border:none;width:68px;
	font-size:14px;
	font-weight:600;
}
#search-box input[name="city"]{
	width:160px;
}

#search-box input[name="district"]{
	width:130px;
	cursor:pointer;
}

#search-box input[name="arriveDate"]{
	width:160px;
}

.dropdown_modal{
	display:inline-block;
	position:relative;
}

.modal_bd{
	display:none;
	border: 1px solid #cfcfcf;
	box-shadow: 0 0 4px #ccc;
	padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    background:#fff;
    width:441px;
}

#departureDate{
	width:160px;
}


.dropdown-menu li{
	display:inline-block;
}
.dropdown-menu {
	min-width:345px;
	font-size:12px;
}
.dropdown-menu > li > a{
	padding:3px 5px;
}

.date-com{
	 width: 441px;height:100px;
	 border: 1px solid #cfcfcf;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
}
.date-header{
	background:#4e3c36;
	 height:26px;
}
.ico{
	width: 25px;display:inline-block;height:25px;
	background:url("http://www.plateno.com/image2/base/widget.png") no-repeat;
}
.ico-pre{
	background-position:-23px -22px;
}
.ico-next{
	background-position:-1px -22px;
}

.date-title{
	width:150px;color:#fff;text-align:center;display:inline-block;line-height:26px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.date-tb{
	margin:5px 20px 0 10px;;
}
.date-tb thead{
	height:26px;
	background:rgb(235,235,235);
}
.weekend{
	color:#fc631b;
}
.date-tb a{
	display:inline-block;
	width:26px;height:24px;padding:1px;text-align:center;
	font-size: 12px;
    line-height: 20px;
	text-decoration:none;
}
.date-tb a:hover{
	background:#eee8dc;
	cursor:pointer;
}

.hotels{
	margin-top:30px;
}
.hotels li{
	margin-top:20px;
}
figure{
	position:relative;
	overflow:hidden;
	margin-bottom:10px;
}

ul{
	list-style-type:none;
}

.watchpic{
	position:absolute;
	left:0;
	bottom:0;
	text-align:center;background:#000;opacity:.4;width:120px;
	text-decoration:none;cursor:pointer;
}
.fig-img{
	float:left;margin-right:20px;width:120px;height:120px;
}

.hotel-tb{
	width:914px;
	border:1px rgb(249,225,185) solid;
 	color: #000;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.hotel-tb thead{
	background:rgb(255,254,249);
	border-bottom:1px rgb(249,225,185) solid;
}
.hotel-tb tr{
	height: 28px;
    line-height: 28px;
    border-bottom:1px dashed gray;
}
.fig-title{
	cursor:pointer;
	font-family: arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	font-size: 14px; color: #000;
}
.quickorder{
	color:red;
	cursor:pointer;
}
.quickorder:hover{
	text-decoration:none;
}
.page-box{
	width:638px;
	margin:0 auto;
	text-align:center;
}
.page-box ul{
	padding-top:5px;
}
.page-box li{
	display:inline-block;
}
.p_btn{
	color:#000;
	text-decoration:none;
	background-color: #f2f2f2;
    border-color: #d9d9d9;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0 9px 0 10px;
}
.p_btn:hover{
	background-color:#fafafa;
	text-decoration:none;
	color:#000;
}
.jump_num{
	color:#000;
	padding:5px;
}
.jump_num:hover{
	text-decoration:none;
	color:#000;
}

.active{
	color: #ff0505;
    font-size: 15px;
    font-weight: bolder;
}

a:focus{
	outline:none;
	text-decoration:none;
}
.date-bd{
	overflow:hidden;
}
.date-bd-l{
	float:left;
	border-right: 1px solid #cfcfcf;
	height:175px;
}
.date-bd-r{
	float:right;
}
#test{
	width:200px;height:100px;background:red;display:none;
	position:absolute;left:0;
}
.phone{
	margin-bottom:0;
}
address{
	margin-bottom:10px;
}
.jump_box{
	margin:0 20px;padding:0;display:inline-block
}
